body{

	
	margin:0 auto;
	padding: 0;
	
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
	font-weight: bold;
	line-height: 21px;	
	text-transform: uppercase;
	color: #000000;
	
	background-color: #ffffff;
	width: 1200px;
	box-shadow: 0 0 10px #e1e1e1;
}

html {
	background: #f2f2f2;
	
}


a{
	text-decoration: none;
	color: inherit;
}


.main-navigation{
	font-size: 14px;
	line-height: 26px;	
	color: #000000;
	background-color: #ffffff;
}

.site-navigation{
	list-style:none;
	width: 1200px;
}
.site-navigation a{
	color: #000000;
}
.welcome {
	
	font-size: 21px;
	line-height: 26px;	
	color: #000000;
	
	background-image: url(img/welcome.png);
	background-image: url(img/background-photo.jpg);
	background-position: top center;
	background-color: #ffffff
}

.welcome {
	
	font-size: 21px;
	line-height: 26px;	
	color: #000000;
	text-align: center;
	
	background-color: #ffffff
}

.welcome-reasons {
	
	font-size: 14px;
	line-height: 26px;	
	font-weight: normal;
	color: #333333;
	text-align: center;
	
	background-color: #ffffff
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

/*стилизация блока преимуществ*/

.features-list {
	list-style: none;
}
.features-items-main {
	list-style: none;
}
.features-item-main {
	list-style: none;
}
.features-item {
	list-style: none;
}
.features-item {
	text-align: center;
}

.features-list-details {
	text-align: center;
	background-color: #81b3d2;
	
}
.features-list-details h3{
	font-size: 21px;
	line-height: 21px;
	color: #ffffff;
	
	background-color: #81b3d2;
	
	width: 151px;
	margin-top: 46px;
	margin-left: 124px;
	
}
.features-list-details-num {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #ffffff;
	margin:0;	
	background-color: #81b3d2;
}

.features-list-details p{
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #ffffff;
	

	
	background-color: #81b3d2
	
}

.features-list-details-one {
	width: 286px;
	margin: 22px 0 0 56px;
}
.features-list-details-two {
	width: 306px;
	margin: 22px 0 0 45px;
}
.features-items-main {
	color: #000000;
	background-color: #ffffff;
	margin: 0px;
	text-align: center;
	
}

.features-items-main ul {
	 	padding-left: 0px;
}

.features-items-main h4{
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	margin-top: 26px;
  margin-bottom: 24px;
	
	background-color: #ffffff;
	
}
.features-items-main p{
	font-size: 14px;
	line-height: 21px;
	color: #333333;
	
	background-color: #ffffff;
	
}



.features-items-main-hotel p {
	width: 252px;
}


.features-items-main-meal p {
	width: 286px;
}


.features-items-main-gift p {
	width: 273px;
}

.features-item {
	background-color: #eeeeee;
}
.features-item h3{
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	
	background-color: #eeeeee;
}
.features-item span{
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
	
	background-color: #eeeeee;
}

.features-item p{
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
	margin-top: 22px;
	margin-bottom: 0;
	
	background-color: #eeeeee;
}


/* стилизация формы поиска отеля */


.features {
	position: relative;
	z-index: 1;
}
.booking {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	
	background-color: #ffffff;
	text-align: center;
	position: relative;
	padding-top: 50px;
	z-index: 1;
}	

.booking-head {
	font-size: 30px;
	line-height: 36px;
	color: #000000;
	margin: 0;
}
.booking p{
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: #333333;
	background-color: #ffffff;
	margin-top: 24px;
	margin-bottom: 46px;
	margin-left: 382px;
	width: 440px;
	
}				

.booking-search-button a{
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	width: 568px;
	
	
	background-color: #766357;
	padding-bottom:30px;
	padding-top: 30px;
	margin: 0 auto;
	
	display: block;
}

.button {
	border-style: none;
	background-color: inherit;
	color: inherit;
}

.booking-search-button a:hover {
	background-color: #604e43;
}
.booking-search-button a:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}


.booking-form {
	text-align: center;
	padding:55px 55px;
	width: 568px;
	height: 395px;
	background-color: #ffffff;
	
}

.booking-search-form {
	font-size: 14px;
	line-height: 26px;
	color: #000000;
	
	border: 1px #ffffff;
	background-color: #ffffff;
}

.booking-search-form-check-box {
	display: flex;
	box-sizing: border-box;
	width: 346px;
	background-color: #f2f2f2;
}
.booking-search-form-check-box:hover {
	background-color: #ebebeb;
}	
.booking-search-form-check-box:focus {
	background-color: #ffffff;
	border-color: #e5e5e5;
	border-width: 2px;
}	
.booking-search-form-check-input {
	font: inherit;
	color: #000000;
	text-transform: uppercase;
	
	border: inherit;
	background-color: inherit;
	outline: none;
	width: 312px;
	
	box-sizing: border-box;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 15px;
	padding-right: 30px;
}



.booking-search-form-check-button  {
  background-image: url("..//img/calendar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  
  border: 1px #f2f2f2;
  outline: none;
  padding: 0;
  width: 36px;
 
  
}

.booking-search-form-check-button:hover {
	
	background-image: url("..//img/calendar_hover.png");
}

.booking-search-form-check-button:focus {
	
	background-image: url("..//img/calendar_focus.png");
}



.booking-search-form-person-input {
	background-color: #f2f2f2;
	border: none;
	width: 38px;
	height: 38px;
	text-align: center;
	padding: 0;
	
	font-size: 16px;
	color: #000000;
	font-weight: bold;
}

.booking-search-form-person-button { 
	background-color: #f2f2f2;
	border: 1px #f2f2f2;
	width: 38px;
	height: 38px;
	padding: 0;
	outline: none;
	font-size: 26px;
	color: #a9a9a9;
	font-weight: bold;
}

.booking-search-form-person-button:hover {
	cursor: pointer;
	color: #81b3d2;
	
}
.booking-search-form-person-button:active {
	cursor: pointer;
	color: #000000;
	
}

.booking-search-form-button {
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	
	width: 458px;
	height: 58px;
	border: none;
	background-color: #81b3d2;
}	

.booking-search-form-button:hover{
	background-color: #669ec0;
	cursor: pointer;
}

.booking-search-form-button:active{
	background-color: #5496bd;
	color: rgba(255, 255, 255, 0.3)
}

			
/* стилизация секции карт*/




/*стилизация footer*/

.main-footer {
	color: #000000;

	background-color: #ffffff;
}

.main-footer p{
	font-size: 21px;
	line-height: 26px;
}

.main-footer ul{
		list-style:none;
}
	
.main-footer-inner ul{
		list-style:none;
}
	
.footer-social-button {
	width: 46px;
	height: 34px;
	background-color: #81b3d2;
	display: inline-block;
	text-align: center;
	padding-top: 14px;
}	

.footer-social-button:hover{
	background-color: #669ec0;
}

.footer-social-button:active{
	background-color: #5496bd;
	color: #ffffff;
}

.main-footer span{
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}	

.main-footer-inner span{
	font-size: 14px;
	line-height: 26px;
	font-weight: normal;
}	


.footer-logo-html-academy {

	width:115px;
	height:41px;
	color: #000000;	
	
}


.footer-logo-html-academy:hover .footer-logo-html-academy-fill {
	fill: #81b3d2;
}
.footer-logo-html-academy:active .footer-logo-html-academy-fill{
	fill: #ebebeb;
}



/*стилизация страницы с отелями*/


.hotels {
	padding-left:74px;
	padding-right:74px;
}

.hotels-list {
	
	background-color: #ffffff;
	padding-left: 0;
	margin: 0;
}		


.hotels-list-item-details {
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	
	background-color: #81b3d2;
	width: 110px;
	padding: 5px 16px 5px 16px;
	
}		

.hotels-list-item-details:hover {
	color:#ffffff;
	background-color: #669ec0;
}																																							

.hotels-list-item-details:active {
	color:rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotels-list-item-booking {
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	
	background-color: #766357; 
	width: 140px;
	padding: 5px 16px 5px 16px;
	
}	


.hotels-list-item-booking:hover {
	color:#ffffff;
	background-color: #604e43;
}																																							

.hotels-list-item-booking:active {
	color:rgba(255, 255, 255, 0.3);
	background-color: #503e33;}


.hotels-sort h3 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	margin: 0;
	padding-left: 46px;
	
	background-color: #ffffff;
}	





.hotels-sort-list-item {
	font-size: 12px;
	line-height: 17px;
	font-weight: normal;
	color: #cacaca;
	border-bottom: 1px dotted #81b3d2;
	margin-left: 32px;
	
	background-color: #ffffff;
}	
	
.hotels-sort-list-item:hover {
	
	color: #81b3d2;

	
}		
.hotels-sort-list-item:active {
	
	color: #000000;
	text-decoration: none;
	border-bottom-color: transparent;
}	
	
	
	
	

.hotels-list h3 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	
	background-color: #ffffff;
	margin-bottom: 10px;
}	

.hotels-list-item-price {
	
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	width: 180px;
	padding-top: 0px;
	padding-bottom: 18px;

	list-style: none;
	padding-left: 0;

}



.hotels-list p {
	margin-top: 0;
	margin-bottom: 18px;
}

.hotels-list {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #333333;
	
	background-color: #ffffff;
}	

.hotels-list-item-star {
	list-style:none;
}
.hotels-list-item-rang {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #666666;
	
	background-color: #f2f2f2;
	margin: 46px 0 0 0;
	padding: 6px 15px 6px 15px;
}
/*--------------сеточные стили----------------------------*/

/*временно для сетки
body{

	background-image: url('../img/sedona-index_background.jpg');
	background-position: top center;
	background-color: rgba(0,0,0,0.5);
	background-size: 1372px auto;
	background-repeat: no-repeat;
}
*/
.main-navigation {
	position: relative;
	margin-top: 0px;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: center;
	background-color: #ffffff;
	
}

.site-navigation {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	padding-left: 0px;
	
}

.main-header-logo {
	position: absolute;
	padding:0px;
	top: 0px;
	left: 50%;	
	transform: translateX(-50%);
}

.site-navigation {
	padding-left: 72px;
	padding-right: 72px;
}

.site-navigation li:nth-child(2) {
	margin-right: 250px;
}

.site-navigation li:nth-child(3) {
	margin-right: 26px;
}


.welcome-first {
	position: relative;
	margin-top: 52px;
	margin-bottom: 24px;
	

}

.welcome-first-text {
	width: 456px;
	margin: 0 0 0 380px;
	
}

.welcome-reasons {
	margin-bottom: 54px;
}
.welcome-first::before {
	content:"";
	position: absolute;
	top: -117px;
	left: 0;
	width: 100%;
	height: 60px;
	background-image: url('../img/polygon.png');
}

.welcome-mask {
	position: absolute;
	top: -60px;
}

.features-list {
	display: flex;
	margin:0;
}

.features-list img {
	display: block;
}

.features-list-details {
	display: flex;
	box-sizing: border-box;
	margin:0;
	width: 400px;
	flex-direction: column;
	
}


.features-items-main {
	display: flex;
	justify-content: space-between;
	
}

.features-second {
	display: flex;
	direction: row;
	margin:0;
}

.view-canyon {
	display: flex;
	width: 800px;
    margin:0;
}

.features-items-main {
	display: flex;
	flex-basis: 400px;
	margin:0;
	align-items: flex-start;
	padding-left: 73px;
	padding-right: 63px;
	padding-top: 60px;
	padding-bottom: 68px;
}

.features-item {
	display: flex;
	justify-content: space-between;
	padding-left: 96px;
	padding-right: 74px;
	margin: 0;
	padding-top: 46px;
	padding-bottom: 60px
}

.features-item-sight {
	width: 208px;
	text-align: center;
}

.features-item-sight h3{
	
	margin-top: 0;
	
}
.features-item-fun {
	width: 262px;
	text-align: center;
}
.features-item-fun h3 {
	width: 100px;
	margin-top: 0;
	margin-left: 90px;

}

.features-item-empty {
	width: 254px;
}
.features-item-empty h3 {
	margin-top: 0;
	width: 100px;
	margin-left: 80px;
}	
	
	
.booking-form {
	display: flex;
	box-sizing: border-box;
	width: 568px;
	flex-direction: column;
	position: absolute;
	left: 50%;	
	transform: translateX(-50%);
	transition-property: opacity, transform;
	transition-duration: 1000ms;
}

.booking-form--hidden {
opacity:0;	
transform: translate(-50%, -100%);
}

.booking-form--showed {
opacity:1;	
transform: translate(-50%, 0);
}


.booking-form--nojs {
	opacity: 1;
	transform: translate(-50%, 0);
	transition: none; 
}




.booking-search-form-check{
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 30px;
	align-items: center;

}





.booking-search-form-person {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	margin: 0 auto;
	margin-bottom: 55px;
	
}

.booking-search-form-person-adalt{
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	width: 226px;
	align-items: center;

}

.booking-search-form-person-kids{
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	width: 180px;
	align-items: center;

}

.booking-search-form-person-box {
	display: flex;
	box-sizing: border-box;
	width: 114px;
}



.maps {
	height: 593px;
	background-image: url(..//img/map.png);

	
	
}
body {
	position: relative;
	
}

.main-footer {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	padding-right: 100px;
	padding-left: 132px;
	padding-top: 27px;
	padding-bottom: 27px;
	align-items: center;
	background-color: rgba(255,255,255,0.8);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.main-footer-inner {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	padding-right: 100px;
	padding-left: 132px;
	padding-top: 16px;
	padding-bottom: 36px;
	align-items: center;
	left: 0;
	width: 100%;
}


.footer-sotial-list {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	width: 160px;
	margin: 0;
	padding-left: 0;
	align-items: center;
	
}

.main-footer-logo {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	width: 196px;
	margin: 0;
	align-items: center;
}

/*сетки страницы отелей*/

.hotels-sort {
	display: flex;
	box-sizing: border-box;
	padding: 30px;
}

.hotels-sort-list {
	display: flex;
	box-sizing: border-box;
	width: 900px;
	list-style: none;
	padding-left:46px;
	align-items: center;
	margin: 0;
}

.hotels-sort-list-title {
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	color: #000000;
}

.hotels-sort-list-arrows {
	display: flex;
    box-sizing: border-box;
	justify-content: space-between;
	list-style: none;
	width: 36px;
	padding: 0;
	margin: 0;
}

.hotels-sort-list-arrows-fill .hotels-sort-list-arrows-fill-up {
	fill: #cacaca;
}

.hotels-sort-list-arrows-fill:hover .hotels-sort-list-arrows-fill-up {
	fill: #000000;
	cursor: pointer;
}
.hotels-sort-list-arrows-fill:focus .hotels-sort-list-arrows-fill-up {
	fill: #81b3d2;
}
.hotels-sort-list-arrows-fill:active .hotels-sort-list-arrows-fill-up {
	fill: #81b3d2;
}

.hotels-list-item {
	display: flex;
	box-sizing: border-box;
	border-bottom: 3px solid #f2f2f2;
	
}
.hotels-list-item-view {
padding-top: 28px;
}


.hotels-list-item-name {
	width: 260px;
	margin-right: 517px;
	margin-left: 30px;
	margin-bottom: 37px;
	margin-top: 0;
	
	
}

.hotels-list-item-name-button {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	width: 260px;
	
}

.hotels-list-item-name-more {
	display: block;

}

.hotels-list-item-stars {
	text-align: right;
	
	padding-left: 0;
	margin-top: 28px;
	margin-bottom: 38px;
}

.hotels-list-item-star {
	background-image: url("..//img/star.svg");
	background-repeat: no-repeat;
}
.hotels-list-item-star {
	display: inline-block;
	width: 22px;
	height: 17px;
}

.filtres {
	background-color: #477ca8;
	background-image: url("..//img/filter-background.jpg");
	background-position: 0 center;
}

.filtres-form {
	
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #ffffff;
	
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
}

.filtres-form h3{
	font-size: 16px;
	line-height: 21px;	
	color: #ffffff;
	margin-bottom: 20px;
	margin-top: 0;
	
}

.filtres-form-lists {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-content: space-between;
	width: 564px;
	padding-left: 68px;
	
	padding-top: 33px;
	padding-bottom: 10px;
	
}

.filtres-form-checkbox {
	
	width: 240px;
	
	
}

.filtres-form-checkbox-list {
	list-style: none;
	margin: 0;
}

.filtres-form-checkbox-list-item {
	margin-bottom: 25px;
}

.filtres-form-checkbox-list-item label {
	position: relative;
}
.filtres-form-checkbox-list-item label {
	cursor: pointer;
}

.filtres-form-checkbox-list-item input+label::before {
	content:"";
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	top: -4px;
	left: -40px;
	width: 30px;
	height: 30px;
	
}
.filtres-form-checkbox-list-item input+label::before {
	cursor: pointer;
}


.filtres-form-checkbox-list-item input:not(:checked)+label::before {
	background-image: url("../img/checkbox-off.png");
}

.filtres-form-checkbox-list-item input:checked+label::before {
	background-image: url("../img/checkbox-on.png");
	background-position: 3px center;
	
}

.filtres-form-checkbox-list-item input:disabled+label::before {
	opacity: 0.3;
	
}

/*стилизация ползунков*/

.filter-ranger {
	width: 316px;
	margin: 30px auto;
	margin-right: 72px;
	color: #ffffff;
	text-transform: uppercase;
	
}

.filter-ranger-title {
	margin-bottom: 9px;
	
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	
}

.price-controls {
	position: relative;
	
	height: 36px;
	margin-bottom: 20px;
	
	font-size: 0;
	
	border: 2px solid #ffffff;
	border-radius: 2px;
	
}
.price-controls::after {
	content:"";
	position: absolute;
	
	width: 2px;
	height: 22px;
	
	background: #ffffff;
	
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.price-controls label{
	display: inline-block;
	
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	
	cursor: pointer;
	
}

.price-controls .min-price, 
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	
	color: inherit;
	font: inherit;
	
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	
	margin-bottom: 32px;
}
.range-controls .scale {
	height: 2px;
	
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	position: absolute;
	top: 0;
	left:0;
	
	width: 80%;
	height: 2px;
	
	background: #ffffff;
}
.range-toggle {
	position: absolute;
	top: -9px;
	
	width: 4px;
	height: 4px;
	
	background: #ababab;
	border: 8px solid #ffffff;
	
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2 );
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	
}
.btn-transparent:hover {
	color: #000000;
	
	background: #ffffff;
}